*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "Lato";
}
.text3{
    position:absolute;
    left: 692px;
    top: 100px;
    color: #000000;
    font-weight: normal;
    font-size: 24px;
    -webkit-transform: rotate(-26deg); 
    -moz-transform: rotate(-26deg); 
    -ms-transform: rotate(-26deg); 
    -o-transform: rotate(-26deg); 
    transform: rotate(-26deg); 
    
    -webkit-transform-origin: 50% 50%; 
    -moz-transform-origin: 50% 50%; 
    -ms-transform-origin: 50% 50%; 
    -o-transform-origin: 50% 50%; 
    transform-origin: 50% 50%; 
}
.text4{
    position:absolute;
    left: 692px;
    top: 500px;
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    -webkit-transform: rotate(-26deg); 
    -moz-transform: rotate(-26deg); 
    -ms-transform: rotate(-26deg); 
    -o-transform: rotate(-26deg); 
    transform: rotate(-26deg); 
    
    -webkit-transform-origin: 50% 50%; 
    -moz-transform-origin: 50% 50%; 
    -ms-transform-origin: 50% 50%; 
    -o-transform-origin: 50% 50%; 
    transform-origin: 50% 50%; 
}
/* Fin navegación principal */

.text5{
    position:absolute;
    left: 680px;
    top: 1201px;
    color: #FEC517;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}
.text6{
    position:absolute;
    left: 692px;
    top: 1251px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text7{
    position:absolute;
    left: 692px;
    top: 1281px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text8{
    position:absolute;
    left: 692px;
    top: 1311px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text9{
    position:absolute;
    left: 692px;
    top: 1341px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text10{
    position:absolute;
    left: 692px;
    top: 1370px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text11{
    position:absolute;
    left: 692px;
    top: 1460px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text12{
    position:absolute;
    left: 692px;
    top: 1535px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
/* Fin segunda sección de navegación */

.text13{
    position:absolute;
    left: 120px;
    top: 1901px;
    color: #FEC517;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
}
.text14{
    position:absolute;
    left: 700px;
    top: 2010px;
    color: #FEC517;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}
.text15{
    position:absolute;
    left: 700px;
    top: 2040px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text16{
    position:absolute;
    left: 700px;
    top: 2110px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text17{
    position:absolute;
    left: 700px;
    top: 2250px;
    color: #FEC517;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}
.text18{
    position:absolute;
    left: 700px;
    top: 2280px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text19{
    position:absolute;
    left: 700px;
    top: 2370px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
.text20{
    position:absolute;
    left: 700px;
    top: 2540px;
    color: #FEC517;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}
.text21{
    position:absolute;
    left: 700px;
    top: 2570px;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
}
/* Fin tercera sección de navegación */